apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  provider:
    vault:
      server: https://host.docker.internal:8200
      path: kv
      version: v2
      caBundle: <base64-encoded-CA-cert>
      auth:
        kubernetes:
          mountPath: kubernetes
          role: eso-role